<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yukaapp">

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic=   "true"
        android:theme="@style/Theme.YukaApp"
        >

        <!-- Activity principale -->
        <activity
            android:name="com.example.yukaapp.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de scan -->
        <activity
            android:name="com.example.yukaapp.ui.ScannerActivity"
            android:exported="false" />

        <!-- Activity de détails produit -->
        <activity
            android:name="com.example.yukaapp.ui.ProductActivity"
            android:exported="false" />

    </application>

</manifest>